**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# Additional gitignore entries. 
**/nbproject/genfiles\.properties 
**/nbproject/jaxws-build\.xml 

ServidorSOA/nbproject/project\.properties
